<h1>Nuevo item</h1>

<%= form_for @item,:url => { :action => "create" } do |f| %>﻿
  <p>
    <%= f.label :nombre %>: <%= f.text_field :nombre %><br /><br />
    <%= f.label :valor %>: <%= f.text_field :valor %><br />
  </p>
  <p>
    <%= f.submit "Registrar nuevo item"%>
  </p>
<%end%>
